*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
  padding: 2rem;
}

.kontakty {
  margin: 2rem;
}

.obdelnik {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #EBEBEB;
  border-radius: 0.5rem;
}

.ramecek--1, .ramecek--2, .ramecek--3, .ramecek--4 {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 22%;
  height: max-content;
}

img {
  border-radius: 500px;
} 

.jmeno, .popis {
  text-align: center;
}

.container--1, .container--2, .container--4, .container--3 {
  display: flex;
  justify-content: center;
}

.twitter, .linkedin, .github {
  justify-content: space-between;
  padding: 0.5rem;
}

