*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
  padding: 2rem;
}

.kontakty {
  margin: 2rem;
}

.obdelnik {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  height: 100vh;
  width: 100vw;
  background-color: #EBEBEB;
  border-radius: 0.5rem;
  max-width: 1400px;
  max-height: 600px;
}

.ramecek--1, .ramecek--2, .ramecek--3, .ramecek--4 {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.foto {
  justify-content: center;
}

.container--1, .container--2, .container--4, .container--3 {
  display: flex;
  justify-content: center;
}


img {
  border-radius: 500px;
} 

.twitter, .linkedin, .github {
  justify-content: space-between;
  padding: 0.5rem;
}

.jmeno, .popis {
  text-align: center;
}
